@page "/watch-stream/{userId}"

@inject StreamingService StreamingService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<h3>Watch Stream</h3>
<video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup="{}"
>
<source src="@StreamUrl" type="application/x-mpegURL" />
<p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
    >supports HTML5 video</a
    >
</p>
</video>
<script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>

@code {
    [Parameter] 
    public string UserId { get; set; }

    private string StreamUrl;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(UserId))
        {
            try
            {
                StreamUrl = await StreamingService.GetStreamUrlAsync(UserId);
            }
            catch (Exception ex)
            {
                NavigationManager.NavigateTo("/error");
            }
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
